<div class="header" style="background-color:#333 ;">
    <div class="container-1300">
        <nav class="navbar navbar-expand-lg" data-bs-theme="dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="#"><i class="fa-solid fa-pepper-hot"></i> EL PATRÓN DEL HARD</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                  <li class="nav-item">
                    <a class="nav-link active" routerLink="/" href="#">Inicio
                    </a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Productos</a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="nosotros" href="#">Sobre nosotros</a>
                  </li>
                </ul>
                <div class="d-flex">
                    <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="#"><i class="fa-solid fa-user"></i> Mi cuenta
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" href="#"><i class="fa-solid fa-cart-shopping"></i> Carrito (0)
                        </a>
                      </li>
                    </ul>
                </div>
              </div>
            </div>
          </nav>
    </div>
</div>