<div class="modal-header">
  <h4 class="modal-title">Confirmar eliminación</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
      <div class="row">
        <div class="col">
          Por favor confirmá la eliminación de la categoría <strong>{{Categoria.nombre}}</strong>
        </div>
      </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="activeModal.close()">Cancelar</button>
  <button type="button" class="btn btn-outline-danger" (click)="confirmarEliminacion()">Eliminar categoría</button>
</div>
