<br>
<div class="card">
  <div class="card-header">
    <strong>Sobre nosotros</strong>
  </div>
  <div class="card-body">
    <p>
      Somos Gaspar y Franco, estudiantes de la UTN FRRO. En el marco de la asignatura "Desarrollo de software"
      realizamos este proyecto, utilizamos NodeJS como backend y Angular para la UI para la construcción de una
      aplicación de e-commerce de artículos de informática.
    </p>
    <p>
      Aquí encontrarás productos varios, podrás simular una compra, darle seguimiento y recibir notificaciones
      relacionadas a ella.
    </p>
    <p>
      El modelo de negocio está acotado a la venta en efectivo y con retiro en sucursal, para darle simplicidad al
      modelo.
    </p>
    <p>
      También cuenta con un modulo administrador (encontrarás las credenciales correspondientes en el repositorio del
      proyecto).
    </p>
    <hr>
    <h5>Enlaces a la documentación:</h5>
    <br>
    <p>
      Frontend: <a target="_blank" href="https://github.com/francobidart/dsw-tp-frontend/tree/main/docs">https://github.com/francobidart/dsw-tp-frontend/tree/main/docs</a>
    </p>
    <p>
      Backend: <a target="_blank" href="https://github.com/francobidart/dsw-tp-backend/tree/main/docs">https://github.com/francobidart/dsw-tp-backend/tree/main/docs</a>
    </p>
    <div class="text-center">
      <img src="/assets/img/logo_departamento.jpg" alt="">
    </div>
  </div>
</div>
