<br>
<h1>Regístrese!</h1>
<br>

<form [formGroup]="formulario" name="formulario">
  <fieldset>
    <div class="formulario">
      <div class="col1">
        <div class="form-group">
          <label for="nombre">Nombre:</label>
          <input class="form-control" id="nombre" placeholder="Nombre" formControlName="nombre">
        </div>

        <div class="form-group">
          <label for="email"> Email:</label>
          <input type="email" class="form-control" id="email" placeholder="Email" formControlName="email">
        </div>


        <div class="form-group">
          <label for="password">Contraseña:</label>
          <input type="password" class="form-control" id="password" placeholder="Contraseña"
                 formControlName="password">
        </div>

      </div>
      <hr>
      <div class="col2">
        <div class="form-group">
          <label for="apellido">Apellido:</label>
          <input class="form-control" id="apellido" placeholder="Apellido" formControlName="apellido">
        </div>

        <div class="form-group">
          <label for="telefono">Telefono:</label>
          <input class="form-control" id="telefono" placeholder="Telefono" formControlName="telefono">
        </div>

        <div class="form-group">
          <label for="repetirpassword">Repita la Contraseña:</label>
          <input type="password" class="form-control" id="repetirpassword" placeholder="Repita la Contraseña"
                 formControlName="repetirpassword">
        </div>
      </div>
    </div>
  </fieldset>
</form>
<div [ngSwitch]="Completado">
  <div *ngSwitchCase="1">
    Registrado Correctamente
  </div>
  <div *ngSwitchCase="2">
    Las contraseñas no coinciden
  </div>
  <div *ngSwitchCase="3">
    Complete todos los campos por favor.
  </div>
</div>
<div class="botones">
  <button routerLink="/" style="margin: 10px" class="btn btn-outline-danger">< Volver al inicio</button>
  <button (click)="registrarUsuario()" style="margin: 10px" class="btn btn-primary">Registrarse</button>
</div>


