<br>
<h4>
  Ingresá en tu cuenta:
</h4>
<div class="row" >
  <div class="col-8">
    <div class="card">
      <div class="card-body">
        <label for="username">Usuario:</label>
        <input type="text" id="username" class="form-control">
        <br>
        <label for="username">Contraseña:</label>
        <input type="password" id="password" class="form-control">
        <br>
        <div class="btn btn-outline-primary d-block" routerLink="/checkout">
          Ingresar
        </div>
      </div>
    </div>
  </div>
  <div class="col" style="text-align: center">
    <p>¿No tenés cuenta?</p>
    <div class="btn btn-outline-warning d-block">
      Registrate ahora
    </div>
    <br>
    <img src="assets/img/cuadrado.fw.png" alt="">
  </div>
</div>
