<div class="modal-header">
  <h4 class="modal-title">{{NombreAccion}}</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <form name="FormSucursal" [formGroup]="FormSucursal">
    <fieldset>
      <div class="row mb-2">
        <div class="col">
          <label for="nombre">Nombre*:</label>
          <input type="text" formControlName="nombre" [(ngModel)]="Sucursal.nombre" id="nombre" class="form-control">
        </div>
      </div>
      <div class="row mb-2">
        <div class="col">
          <label for="direccion">Dirección*:</label>
          <input type="text" formControlName="direccion" [(ngModel)]="Sucursal.direccion" id="direccion" class="form-control">
        </div>
      </div>
      <div class="row mb-2">
        <div class="col">
          <label for="telefono">Teléfono*:</label>
          <input type="text" formControlName="telefono" [(ngModel)]="Sucursal.telefono" id="telefono" class="form-control">
        </div>
      </div>
    </fieldset>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-danger" (click)="activeModal.close()">Cancelar</button>
  <button type="button" class="btn btn-outline-success" (click)="guardarCambios()">Registrar</button>
</div>
