<br>
<div class="container">
  <div class="row" *ngIf="cartService.items.length > 0">
    <div class="col-12 col-md-8" style="margin-bottom: 20px">
      <h4>
        Tus datos personales:
      </h4>
      <div class="card">
        <div class="card-body">
          <p>Nombre y apellido: <strong>{{Usuario.nombre}} {{Usuario.apellido}}</strong></p>
          <p>Teléfono: <strong>{{Usuario.telefono}}</strong></p>
          <p>Mail: <strong>{{Usuario.email}}</strong></p>
        </div>
      </div>
      <br>
      <h4>
        Método de entrega:
      </h4>
      <div class="card">
        <div class="card-body">
          <p style="font-weight: bold">Seleccioná la sucursal de entrega:</p>
          <select name="select-sucursal" id="select-sucursal" [(ngModel)]="SucursalSeleccionada" (ngModelChange)="this.SucursalSeleccionada = $event" class="form-control form-select">
            <option value="" selected>Seleccionar una sucursal...</option>
            <option *ngFor="let Sucursal of Sucursales" value="{{Sucursal.id}}">{{Sucursal.nombre}}
              | {{Sucursal.direccion}}</option>
          </select>
        </div>
      </div>
      <br>
      <h4>
        Medio de pago:
      </h4>
      <div class="card">
        <div class="card-body">
          <p style="font-weight: bold">Seleccioná el medio de pago para tu compra:</p>
          <select name="select-medio-pago" id="select-medio-pago" [(ngModel)]="MedioDePagoSeleccionado"
                  (ngModelChange)="this.MedioDePagoSeleccionado = $event" class="form-control form-select">
            <option value="" selected>Seleccionar un medio de pago...</option>
            <option *ngFor="let MedioDePago of MediosDePago" value="{{MedioDePago.id}}">{{MedioDePago.nombre}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-12 col-md">
      <p>Resumen de tu compra</p>
      <div class="row" *ngFor="let item of cartService.items">
        <div class="col-3">
          <img src="{{item.imagen}}" alt="">
        </div>
        <div class="col-6">
          {{item.nombre}}
        </div>
        <div class="col" style="text-align: right">
          ${{item.precio}}
        </div>
      </div>
      <div style="text-align: right; font-weight: bold">
        Total: ${{cartService.getTotal()}}
      </div>
      <br>
      <div class="btn btn-success" (click)="confirmarCompra()" style="width: 100%">
        Confirmar pedido
      </div>
      <p></p>
      <div class="btn btn-outline-danger" routerLink="/" style="width: 100%">
        Cancelar pedido
      </div>
    </div>
  </div>
  <div class="row" *ngIf="cartService.items.length === 0">
    <h3>
      Oops!
    </h3>
    <p>
      Parece que no agregaste artículos a tu compra, ¡navegá entre nuestras categorías y encontrá el producto para vos!
    </p>
    <a href="#" routerLink="/" class="link-primary"><- Ir al inicio</a>
  </div>

</div>
