<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-1300">
    <div class="collapse navbar-collapse" style="display: flex; justify-content: center;" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item mx-2">
          <a class="nav-link" style="cursor: pointer;" (click)="cambiaop1()">Informacion Personal</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" style="cursor: pointer;" (click)="cambiaop2()">Pedidos</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link text-danger btn-sm" style="cursor: pointer;" (click)="this.logout()">Cerrar Sesion</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-1300">
  <div [ngSwitch]="opcion" style="margin-top: 40px; height: 100%;">
    <div *ngSwitchCase="1" class="row">
      <h3 class="mb-4">
        Mi información personal
      </h3>
      <ul>
        <li>Nombre: {{ perfil.nombre }} </li>
      </ul>
      <ul>
        <li>Apellido: {{ perfil.apellido }} </li>
      </ul>
      <ul>
        <li>Email: {{ perfil.email }} </li>
      </ul>
      <ul>
        <li>Usuario: {{ perfil.usuario }} </li>
      </ul>
      <ul>
        <li>Teléfono: {{ perfil.telefono }} </li>
      </ul>
    </div>
    <div *ngSwitchCase="2" class="row">
      <h3 class="mb-4">Mis pedidos</h3>
      <br>
      <div class="alert alert-primary" *ngIf="pedidos.length === 0">
        Parece que todavía no tenés pedidos, aquí encontrarás el detalle cuando hayas realizado alguno.
      </div>
      <div class="table-responsive">
        <table class="table table-hover" *ngIf="pedidos.length > 0">
          <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Cliente</th>
            <th scope="col">Fecha generación</th>
            <th scope="col">Estado actual</th>
            <th scope="col">Detalle</th>
            <th scope="col">Monto Total</th>

          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let pedido of pedidos">
            <td>{{pedido.id}}</td>
            <td>{{pedido.clientePedido.nombre}} {{pedido.clientePedido.apellido}}</td>
            <td>{{pedido.createdAt | date:'dd/MM/yyyy HH:mm'}}</td>
            <td>{{pedido.detalleEstadoActual?.nombre}}</td>
            <td>
              <table>
                <tr *ngFor="let producto of pedido.detallePedido">
                  <td>{{ producto.detalle }} =  {{producto.montoTotal| currency: 'ARS':'symbol-narrow'}}</td>
                </tr>

              </table>
            </td>
            <td>{{pedido.montoTotal | currency: 'ARS':'symbol-narrow'}}</td>


          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
