<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-1300">
    <div class="collapse navbar-collapse" style="display: flex; justify-content: center;" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item mx-2">
          <a class="nav-link" style="cursor: pointer;" (click)="cambiaop1()">Informacion Personal</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" style="cursor: pointer;" (click)="cambiaop2()">Pedidos</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link text-danger btn-sm" style="cursor: pointer;" (click)="this.logout()">Cerrar Sesion</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-1300">
  <div [ngSwitch]="opcion" style="margin-top: 40px; height: 100%;">
    <div *ngSwitchCase="1" class="row">
      <h3 class="mb-4">
        Mi información personal
      </h3>
      <ul>
        <li>Nombre: {{ perfil.nombre }} </li>
      </ul>
      <ul>
        <li>Apellido: {{ perfil.apellido }} </li>
      </ul>
      <ul>
        <li>Email: {{ perfil.email }} </li>
      </ul>
      <ul>
        <li>Teléfono: {{ perfil.telefono }} </li>

      </ul>
      <br>
      <button type="button" class="btn btn-info" style="width: 200px;" (click)="cambiaop3()" >Editar Info</button>
    </div>


    <div *ngSwitchCase="2" class="row">
      <h3 class="mb-4">Mis pedidos</h3>
      <br>
      <div class="alert alert-primary" *ngIf="pedidos.length === 0">
        Parece que todavía no tenés pedidos, aquí encontrarás el detalle cuando hayas realizado alguno.
      </div>
      <div class="table-responsive">
        <table class="table table-hover" *ngIf="pedidos.length > 0">
          <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Cliente</th>
            <th scope="col">Fecha generación</th>
            <th scope="col">Estado actual</th>
            <th scope="col">Detalle</th>
            <th scope="col">Monto Total</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let pedido of pedidos">
            <td>{{pedido.id}}</td>
            <td>{{pedido.clientePedido.nombre}} {{pedido.clientePedido.apellido}}</td>
            <td>{{pedido.createdAt | date:'dd/MM/yyyy HH:mm'}}</td>
            <td>{{pedido.detalleEstadoActual?.nombre}}</td>
            <td>
              <table>
                <tr *ngFor="let producto of pedido.detallePedido">
                  <td>{{ producto.detalle }} =  {{producto.montoTotal| currency: 'ARS':'symbol-narrow'}}</td>
                </tr>

              </table>
            </td>
            <td>{{pedido.montoTotal | currency: 'ARS':'symbol-narrow'}}</td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
    <div *ngSwitchCase="3" class="row">

      <form [formGroup]="formulario" name="formulario">
        <fieldset>
          <div class="formulario">
            <div class="col1">
              <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input class="form-control" id="nombre" placeholder="Nombre" [(ngModel)]="perfil.nombre" formControlName="nombre">
              </div>

              <div class="form-group">
                <label for="email"> Email:</label>
                <input type="email" class="form-control" id="email" [(ngModel)]="perfil.email" placeholder="Email" formControlName="email">
              </div>

            </div>
            <hr>
            <div class="col2">
              <div class="form-group">
                <label for="apellido">Apellido:</label>
                <input class="form-control" id="apellido" [(ngModel)]="perfil.apellido" placeholder="Apellido" formControlName="apellido">
              </div>

              <div class="form-group">
                <label for="telefono">Telefono:</label>
                <input class="form-control" id="telefono" [(ngModel)]="perfil.telefono" placeholder="Telefono" formControlName="telefono">
              </div>
            </div>

          </div>
        </fieldset>
      </form>
      <div>
        <button style="margin-right: 20px;" (click)="cambiaop1()" class="btn btn-outline-danger"> Cancelar</button>
        <button class="btn btn-outline-success" (click)="editarUsuario()"> Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>
