<script src="../../../../becommerce/frontend/src/app/start/start.component.ts"></script>

<body>
<div style='background-image: url("assets/img/Banner_Slider_Desktop_12CSI_SMART_TV.webp"); background-size: cover; background-repeat: no-repeat;
background-position: center center;'>
  <div style=>
    <div class="" style="max-width: inherit">
      <img src="assets/img/ofertas.fw.png" style="max-width: 100%">
    </div>
  </div>
</div>

<div style="background-color: #f0f0f0">
  <div class="container">
    <div class="box">
      <div style="flex-grow: 3">Hasta 12 cuotas sin interés</div>
      
      <div style="flex-grow: 3">Pagá con Mercado Pago</div>
    </div>
  </div>
</div>

<div class="container">

  <div class="row" >
    <div class="item col-12 col-md-3" routerLink="producto/{{item.id}}" *ngFor="let item of Products">
      <div>
        <img
          src="{{item.imagen}}"
          alt="">
      </div>
      <div class="product-title">
        <span>{{item.nombre}}</span>
      </div>
      <div class="product-price">
        <strong>${{item.precio}}</strong>
      </div>
    </div>
  </div>
</div>

<br>
<br>
<br>
<br>
</body>



