<script src="../../../../becommerce/frontend/src/app/start/start.component.ts"></script>

<body>
<div style='background-position: center center;'>
  <div >
    <div class="" style="max-width: inherit">
      <img src="assets/img/ofertas.fw.png" style="max-width: 100%">
    </div>
  </div>
</div>

<div style="background-color: #f0f0f0">
  <div class="container">
    <div class="box">
      <div style="flex-grow: 3">¡Retirá en nuestras sucursales!</div>

      <div style="flex-grow: 3">Pagá en efectivo o por transferencia</div>
    </div>
  </div>
</div>

<div class="container" style="margin-top: 60px;">

  <div class="row" >
    <div class="item col-12 col-md-3" routerLink="producto/{{item.id}}" *ngFor="let item of Products">
      <div>
        <img
          src="{{item.imagen}}"
          alt="">
      </div>
      <div class="product-title">
        <span>{{item.nombre}}</span>
      </div>
      <div class="product-price">
        <strong>${{item.precio}}</strong>
      </div>
    </div>
  </div>
</div>

<br>
<br>
<br>
<br>
</body>



